<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <div id="error" class="alert alert-danger">&nbsp;</div>

    <div class="row">
        <div class="col-md-2 offset-2">
            <h3><span class="badge badge-pill badge-success website-status">Website</span></h3>
        </div>
        <div class="col-md-2">
            <input class="form-control password" type="password" placeholder="password">
        </div>
    </div>

    <div class="moomoo-target" id="Galaxy"></div>
    <div class="moomoo-target" id="War"></div>
    <div class="moomoo-target" id="Old"></div>
    <div class="moomoo-target" id="Custom"></div>
    <div class="moomoo-target" id="OnePiece"></div>
    <div class="moomoo-target" id="Newest"></div>
    <div class="moomoo-target" id="PSS"></div>
    <div class="moomoo-target" id="GalaxyTest"></div>

    <div class="templates">
        <div class="moomoo-template moomoo">
            <div class="row">
                <div class="col-md-2 offset-md-2">
                    <h3><span class="badge badge-pill badge-success status">{id}</span></h3>
                </div>
                <div class="col-md-8">
                    <button class="host btn btn-success">Host</button>
                    <button class="kill btn btn-danger">Kill</button>
                    <button class="btn btn-dark" data-toggle="collapse" href="#{id}Version" role="button" aria-expanded="false" aria-controls="{id}Version">Version</button>
                </div>    
            </div>
            <div class="version-target" id="{id}Version"></div>
        </div>

        <div class="collapse row version-template">
            <div class="card card-body col-md-8 offset-2">

                <table class="table">
                    <tr class="borderless">
                        <td width="25%" style="white-space: nowrap;">
                            <h5>Current version:</h5>
                        </td>
                        <td width="25%">
                            <h5><span class="badge badge-pil badge-secondary current-version">Unknown</span></h5>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td width="25%" style="white-space: nowrap;">
                            <h5>Available versions:</h5>
                        </td>
                        <td>
                            <select class="available-versions"></select>
                        </td>
                        <td></td>
                    </tr>
                    <tr class="borderless">
                        <td></td>
                        <td>
                            <button class="switch btn btn-sm btn-primary">Switch</button>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td width="25%" style="white-space: nowrap;">
                            <h5>New version:</h5>
                        </td>
                        <td width="75%" style="white-space: nowrap;">
                            <form class="upload">
                                <input type="file" class="version-file" name="file">
                                <br>
                                <br>
                                <input type="text" class="version-name" name="name" placeholder="Version name">
                                <br>
                                <br>
                                <input type="submit">
                                <i class="fa fa-refresh text-primary icn-spinner upload-progress" aria-hidden="true" style="display: none;"></i>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                </div>
                                <i class="fa fa-check text-success upload-success" aria-hidden="true" style="display: none;"></i>
                                <i class="fa fa-times text-danger upload-failed" aria-hidden="true" style="display: none;"></i>
                            </form>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</body>
<script>
    const mooAjax = (data) => {
        data.success = data.success || console.log;
        data.error = data.error || (res => {
            $('#error').text(res.responseJSON?.error);
        });
        data.contentType = data.contentType !== undefined ? data.contentType : 'application/json';
        // data.dataType = data.dataType || 'json';
        data.async = data.async !== undefined ? data.async : true;
        if (data.contentType == 'application/json') {
            data.data = data.data !== undefined ? JSON.stringify(data.data) : undefined;
        }
        if (data.progressbar != undefined) {
            data.xhr = function() { // xhr listener object
                myXhr = $.ajaxSettings.xhr(); //intialize xhr listner
                if (myXhr.upload) { // looks for upload data
                    myXhr.upload.onprogress = function (e) {// calculate the data uploaded
                        var completed = 0;
                        if (e.lengthComputable) {
                            var done = e.loaded,// gives estimate of how much data is uploaded
                            total = e.total; // total size of data to be uploaded
                            completed = Math.round((done / total * 1000) / 10); // this is where actual calculation takes place to show with of progressbar
                        }
                        var prog= Math.round(completed)+'%' // you can skip the round
                        $(data.progressbar).css('width', prog+'%').attr('aria-valuenow', prog);
                    }
                }
                return myXhr;
            }
        }
        return $.ajax(data);
    }

    const templateNames = ['moomoo', 'version'];

    templateNames.forEach(name => {
        $('.' + name + '-target').each((i, element) => {
            const newTemplate = $('.templates .' + name + '-template').clone();
            const target = $(element);

            let text = newTemplate.html();
            text = text.replaceAll('{id}', target.attr('id'));
            newTemplate.html(text);
            
            newTemplate.attr('id', target.attr('id'));
            target.replaceWith(newTemplate);
        });
    });

    
    const websiteStatusCheck = () => {
        mooAjax({
            url: 'api/ping',
            success: res => {
                $('.website-status').addClass('badge-success');
                $('.website-status').removeClass('badge-danger');
            },
            error: res => {
                $('.website-status').removeClass('badge-success');
                $('.website-status').addClass('badge-danger');
            }
        });
    }

    websiteStatusCheck();
    setInterval(websiteStatusCheck, 20000);

    const password = $('.password');

    $('.moomoo').each((i, element) => {
        const name = $(element).attr('id');
        if (!name) {
            return;
        }
        
        const status = $(element).find('.status');
        const host = $(element).find('.host');
        const kill = $(element).find('.kill');
        const currentVersion = $(element).find('.current-version');
        const availableVersions = $(element).find('.available-versions');
        const switchVersion = $(element).find('.switch');
        const versionFile = $(element).find('.version-file');
        const versionName = $(element).find('.version-name');
        const upload = $(element).find('.upload');
        const uploadProgress = $(element).find('.upload-progress');
        const uploadSuccess = $(element).find('.upload-success');
        const uploadFailed = $(element).find('.upload-failed');
        const uploadProgressbar = $(element).find('.progress-bar');

        const statusCheck = () => {
            mooAjax({
                url: 'api/status/' + name,
                success: res => {
                    if (res.alive && name !== 'Galaxy') {
                        status.addClass('badge-success');
                        status.removeClass('badge-danger');
                        status.removeClass('badge-secondary');
                    } else {
                        status.removeClass('badge-success');
                        status.addClass('badge-danger');
                        status.removeClass('badge-secondary');
                    }
                },
                error: res => {
                    status.removeClass('badge-success');
                    status.removeClass('badge-danger');
                    status.addClass('badge-secondary');
                }
            });
        };

        const updateCurrentVersion = () => {
            mooAjax({
                url: 'api/currentVersion/' + name,
                success: res => {
                    currentVersion.text(res.version);
                }
            });
        };
        
        statusCheck();
        updateCurrentVersion();
        setInterval(() => {
            statusCheck();
            updateCurrentVersion();
        }, 20000);


        availableVersions.select2({
            placeholder: 'Choose a version...',
            ajax: {
                url: 'api/versions/' + name,
                cache: false,
                processResults: function (data) {
                    return {
                        results: data.versions?.map(d => ({
                            id: d,
                            text: d,
                        })).sort((a, b) => {
                            const aMain = Number.parseInt(a.text.replace(/\D*/g, ''));
                            const bMain = Number.parseInt(b.text.replace(/\D*/g, ''));
                            if (aMain !== bMain) {
                                return bMain - aMain;
                            }
                            const aMinor = a.text.toLowerCase().replace(/\d*/g, '');
                            const bMinor = b.text.toLowerCase().replace(/\d*/g, '');
                            if (aMinor === "") return 1;
                            if (bMinor === "") return -1;
                            return bMinor > aMinor ? 1 : -1;
                        })
                    };
                }
            }
        });

        // click events

        host.click(e => {
            e.preventDefault();
            mooAjax({
                url: 'api/host',
                method: 'POST',
                data: {
                    name: name,
                    password: password.val(),
                },
                success: () => {
                    setTimeout(statusCheck, 2000);
                },
            });
        });

        kill.click(e => {
            e.preventDefault();
            mooAjax({
                url: 'api/kill',
                method: 'POST',
                data: {
                    name: name,
                    password: password.val(),
                },
                success: () => {
                    setTimeout(statusCheck, 2000);
                },
            });
        });

        switchVersion.click(e => {
            e.preventDefault();
            if (availableVersions.val() !== null) {
                mooAjax({
                    url: 'api/switch',
                    method: 'POST',
                    data: {
                        name: name,
                        password: password.val(),
                        newVersion: availableVersions.val(),
                    },
                    success: res => {
                        updateCurrentVersion();
                    }
                });
            }
        });

        const toggleUploadIcon = (icon) => {
            uploadProgress.hide();
            uploadSuccess.hide();
            uploadFailed.hide();
            if (icon) {
                icon.show();
            }
        }
        toggleUploadIcon();

        upload.submit(e => {
            e.preventDefault();
            const data = new FormData();
            
            toggleUploadIcon(uploadProgress);

            data.append('name', name);
            data.append('password', password.val());
            data.append('versionName', versionName.val());
            data.append('versionFile', versionFile[0]?.files[0]);

            mooAjax({
                url: 'api/upload',
                method: 'POST',
                processData: false,
                contentType: false,
                data: data,
                progressbar: uploadProgressbar,
                success: res => {
                    toggleUploadIcon(uploadSuccess);
                    setTimeout(() => {
                        toggleUploadIcon();
                    }, 2000);
                },
                error: res => {
                    $('#error').text(res.responseJSON?.error);
                    toggleUploadIcon(uploadFailed);
                    setTimeout(() => {
                        toggleUploadIcon();
                    }, 2000);
                }
            });
        });
    });

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    .borderless td, .borderless th {
        border: none;
    }
    .templates {
        display: none;
    }

    .icn-spinner {
        animation: spin-animation 1.5s infinite linear;
        display: inline-block;
    }

    @keyframes spin-animation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(359deg);
        }
    }
</style>
</html>
