<div class="row">
    <div class="col-md-1 offset-md-3">
        <h3><span class="badge badge-pill" [ngClass]="{ 'badge-success': alive, 'badge-danger': !alive }">{{name}}</span></h3>
    </div>
    <div class="col-md-6">
        <button *ngIf="!alive" class="btn btn-success" (click)="host()">Host</button>&nbsp;
        <button *ngIf="alive" class="btn btn-danger" (click)="kill()">Kill</button>&nbsp;
        <input type="file" class="file-upload" (change)="onFileChange($event)">&nbsp;
        <button class="btn btn-primary" (click)="upload()">Upload</button>&nbsp;
    </div>
</div>
